// {{ ansible_managed }} (auto-upgrades.j2)
{% if uu_update_package_list is defined %}APT::Periodic::Update-Package-Lists "{{ uu_update_package_list }}";
{% endif %}
{% if uu_download_upgradeable_packages is defined %}APT::Periodic::Download-Upgradeable-Packages "{{ uu_download_upgradeable_packages }}";
{% endif %}
{% if uu_unattended_upgrade is defined %}APT::Periodic::Unattended-Upgrade "{{ uu_unattended_upgrade }}";
{% endif %}
{% if uu_autocleaninterval is defined %}APT::Periodic::AutocleanInterval "{{ uu_autocleaninterval }}";
{% endif %}
